<h3>Programming & Design</h3>
<p>Michael Hodrius (Panzareon)</p>

<h3>Spell background (frame.png) by</h3>
<p>J. W. Bjerk (eleazzaar) -- <a href="www.jwbjerk.com/art">www.jwbjerk.com/art</a> -- find this and other open art at: <a href="http://opengameart.org">http://opengameart.org</a></p>

<h3>Infuse Gem, Infuse Chrono Gem, Infuse Nature Gem, Expedite Generation, Converse With Future Self spell icons by</h3>
<p><a href="https://clockworkraven.itch.io/">https://clockworkraven.itch.io/</a></p>

<h3>Magic Bolt, Summon Familiar, Skip Time spell icon by</h3>
<p><a href="https://wenrexa.itch.io/">https://wenrexa.itch.io/</a></p>

<h3>Mana, Chrono icons by</h3>
<p>Lorc: <a href="https://lorcblog.blogspot.com/">https://lorcblog.blogspot.com/</a><br>
    Provided by <a href="https://game-icons.net/">https://game-icons.net/</a> under <a href="https://creativecommons.org/licenses/by/3.0/">CC BY 3.0</a></p>

<h3>Check mark, Lock icon by</h3>
<p>Delapouite: <a href="https://delapouite.com/">https://delapouite.com/</a><br>
    Provided by <a href="https://game-icons.net/">https://game-icons.net/</a> under <a href="https://creativecommons.org/licenses/by/3.0/">CC BY 3.0</a></p>

<h3>Nature Magic icon by</h3>
<p>Cathelineau
    Provided by <a href="https://game-icons.net/">https://game-icons.net/</a> under <a href="https://creativecommons.org/licenses/by/3.0/">CC BY 3.0</a></p>