<div>
    <div *ngFor="let unlock of availableUnlocks" class="tooltip-wrapper" appUnlockTooltip [unlock]="unlock">
        <app-unlock-card [unlock]="unlock"></app-unlock-card>
    </div>
    <div *ngFor="let unlock of repeatableUnlocks" class="tooltip-wrapper" appUnlockTooltip [unlock]="unlock">
        <app-unlock-card [unlock]="unlock"></app-unlock-card>
    </div>
</div>
<ng-container *ngIf="completedUnlocks.length > 0">
    Unlocked:
    <div *ngFor="let unlock of completedUnlocks">
        {{unlock.name}} {{unlock.numberRepeated}}/{{unlock.maxRepeats}}
    </div>
</ng-container>