<div>
  @for (unlock of availableUnlocks; track unlock) {
    <div class="tooltip-wrapper" appUnlockTooltip [unlock]="unlock">
      <app-unlock-card [unlock]="unlock"></app-unlock-card>
    </div>
  }
  @for (unlock of repeatableUnlocks; track unlock) {
    <div class="tooltip-wrapper" appUnlockTooltip [unlock]="unlock">
      <app-unlock-card [unlock]="unlock"></app-unlock-card>
    </div>
  }
</div>
@if (completedUnlocks.length > 0) {
  Unlocked:
  @for (unlock of completedUnlocks; track unlock) {
    <div>
      {{unlock.name}} {{unlock.numberRepeated}}/{{unlock.maxRepeats}}
      @if (unlock.numberActive !== unlock.numberRepeated) {
        | {{unlock.numberActive}} currently active
      }
    </div>
  }
}