<mat-card>
  <mat-card-header>
    {{unlock.name}} {{unlock.numberRepeated}}/{{unlock.maxRepeats}}
    @if (unlock.numberActive !== unlock.numberRepeated) {
      | {{unlock.numberActive}} currently active
    }
  </mat-card-header>
  <mat-card-content>
    @for (cost of unlock.cost; track cost) {
      <button mat-raised-button (click)="buyUnlock(unlock, cost)" [disabled]="!canUnlock(unlock, cost)" class="unlock">
        <app-costs [cost]="cost"></app-costs>
      </button>
    }
  </mat-card-content>
</mat-card>