<mat-card>
    <mat-card-header>
        {{unlock.name}}
    </mat-card-header>
    <mat-card-content>
        <button mat-raised-button (click)="buyUnlock(unlock, cost)" [disabled]="!canUnlock(unlock, cost)" class="unlock" *ngFor="let cost of unlock.cost">
            <div class="cost">
                <app-resource-cost *ngFor="let resource of cost.resources" [cost]="resource"></app-resource-cost>
                <app-influence-cost *ngFor="let influence of cost.influence" [cost]="influence"></app-influence-cost>
            </div>
        </button>
    </mat-card-content>
</mat-card>