
@for (spell of spells; track spell) {
  <div appSpellTooltip [spell]="spell" class="tooltip-wrapper">
    <button mat-stroked-button (click)="cast(spell, icon)" [disabled]="!canCast(spell)" class="spell">
      <span class="spell-content">
        <app-spell-icon [spell]="spell" #icon></app-spell-icon>
        <div class="description">
          <div class="name">
            {{spell.name}}
          </div>
          <div class="cost">
            @for (cost of spell.cast.baseCost; track cost) {
              <app-resource-cost [cost]="cost"></app-resource-cost>
            }
          </div>
          @for (attunement of spell.getRequiredAttunements(); track attunement) {
            <div class="attunement" [ngClass]="{'disabled' : !hasAttunement(attunement)}">
              {{getName(attunement[0])}} {{getAttunement(attunement[0])}}/{{attunement[1]}}
            </div>
          }
        </div>
      </span>
    </button>
  </div>
}