<mat-card class="progress-card stackable-card" *ngFor="let plot of plots">
    <div class="progress" [style.width.%]="getProgress(plot)*100"></div>
    <mat-card-header>
        {{plot.plantName}}
    </mat-card-header>
    <ng-container *ngIf="showPlanting(plot)">
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <mat-button-toggle class="plant-button" [checked]="isActive(plot)" (change)="plant(plot)">Plant {{getName(plot.selectedSeed)}}</mat-button-toggle>
                </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-radio-group (change)="selectedPlantChanged(plot, $event)">
                <mat-radio-button labelPosition="before" value="plant" [checked]="plot.selectedSeed === plant" [value]="plant" *ngFor="let plant of availableSeeds">
                    {{getName(plant)}}
                </mat-radio-button>
            </mat-radio-group>
        </mat-expansion-panel>
    </ng-container>
    <mat-card-content *ngIf="!showPlanting(plot)">
        <ng-container *ngIf="showHarvest(plot)">
            <mat-button-toggle [checked]="isActive(plot)" (change)="harvest(plot)">Harvest</mat-button-toggle>
        </ng-container>
    </mat-card-content>
</mat-card>
