<div class="button-wrapper" appExplorationTooltip [location]="location">
    <mat-card>
        <mat-card-header>
            {{location.name}}
        </mat-card-header>
        <mat-card-content *ngIf="location.exploreAction === undefined">
            <mat-button-toggle class="action location" [checked]="isExploreActive()" (change)="toggleExplore()">Explore</mat-button-toggle>
        </mat-card-content>
        <mat-card-content *ngIf="location.exploreAction !== undefined">
            {{location.exploreAction.description}}<br>
            <ng-container *ngFor="let option of location.exploreAction.options">
                <mat-button-toggle [checked]="isActionActive(option)" (change)="toggleAction(option)">{{option.name}}</mat-button-toggle><br>
            </ng-container>
        </mat-card-content>
    </mat-card>
</div>