<mat-card class="item">
  <mat-card-header>
    {{item.name}}
  </mat-card-header>
  @for (buff of item.buffs; track buff) {
    <mat-card-content>
      {{buff.description}}
    </mat-card-content>
  }
  @if (canAttune) {
    <mat-card-content>
      <button mat-stroked-button (click)="attune()">Attune</button>
    </mat-card-content>
  }
  @if (canEndAttunement) {
    <mat-card-content>
      <button mat-stroked-button (click)="remove()">Remove</button>
    </mat-card-content>
  }
  @if (canUse) {
    <mat-card-content>
      <button mat-stroked-button (click)="use()">Use</button>
    </mat-card-content>
  }
</mat-card>