<mat-card class="progress-card">
    <div class="progress" style="width:{{skill.durationTimeSpent/skill.duration*100}}%"></div>
    <mat-card-header>{{name}}</mat-card-header>
    <mat-card-content>
        <mat-button-toggle class="action skill" checked="{{isActive(skill)}}" (change)="toggleSkill(skill)">
            {{isActive(skill) ? "Pause" : "Start"}}
        </mat-button-toggle>
    </mat-card-content>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>Use Spells</mat-panel-title>
        </mat-expansion-panel-header>
        <div *ngFor="let spell of availableSpells" class="spell">
            <app-spell-icon [spell]="spell"></app-spell-icon>
            {{spell.name}}
            <mat-checkbox [checked]="isDurationSpellActive(skill, spell)" (change)="toggleActiveDurationSpell(skill, spell)"></mat-checkbox>
        </div>
    </mat-expansion-panel>
</mat-card>