.header {
    span {
        height: 30px;
    }
    span.repeat {
        margin-left: auto;
        margin-top: -10px;
        margin-right: -10px;
        flex-shrink: 0;
    }
}

.spell {
    display: flex;
    align-items: center;

    app-spell-icon {
        margin-right: 5px;
    }

    mat-checkbox {
        margin-left: auto;
    }
}