<div class="attuned">
  Attuned ({{attunedItems.length}}/{{attunementSlots}}):
  @for (item of attunedItems; track item) {
    <app-item [item]="item" class="stackable-card"></app-item>
  }
</div>
<div class="not-attuned">
  Inventory:
  @for (item of notAttunedItems; track item) {
    <app-item [item]="item" class="stackable-card"></app-item>
  }
</div>
<div class="usable">
  Usables:
  @for (item of usables; track item) {
    <app-item [item]="item" class="stackable-card"></app-item>
  }
</div>