@for (influence of influences; track influence) {
  <mat-expansion-panel expanded="true" appInfluenceTooltip [influence]="influence">
    <mat-expansion-panel-header>
      <mat-panel-title>{{influence.name}} ({{influence.amount}} Influence)</mat-panel-title>
    </mat-expansion-panel-header>
    @for (donation of influence.donations; track donation) {
      @if (isResourceAvailable(donation)) {
        <div class="donation">
          <span>{{getName(donation.resource)}}</span>
          <button mat-stroked-button (click)="donate(donation)" [disabled]="!hasResource(donation)">Donate ({{donation.reward}} Influence)</button>
        </div>
      }
    }
  </mat-expansion-panel>
}