<mat-card class="tooltip" [style.left]="left + 'px'" [style.top]="top + 'px'" [class.visible]="visible" [class.moved-position]="movedPosition">
  <mat-card-header>
    <h2>{{influence.name}}</h2>
  </mat-card-header>
  <mat-card-content>
    @for (unlock of unlocks; track unlock) {
      <div>
        {{unlock.amount}} : {{unlock.name}} ({{unlock.desciption}})
      </div>
    }
    @for (donation of influence.donations; track donation) {
      <div>
        {{getName(donation.resource)}} donation soft cap at {{donation.softCap}}
      </div>
    }
  </mat-card-content>
</mat-card>