<div class="app">
    <div class="sidebar">
        <app-inventory></app-inventory>
    </div>
    <mat-divider [vertical]="true"></mat-divider>
    <div class="main">
        <nav mat-tab-nav-bar [tabPanel]="tabPanel">
            <a mat-tab-link routerLink="actions">Actions</a>
            <a mat-tab-link routerLink="knowledge">Knowledge</a>
            <a mat-tab-link routerLink="spellbook" *ngIf="hasSpell">Spellbook</a>
            <a mat-tab-link routerLink="store" *ngIf="hasUnlockedShop">Store</a>
        </nav>
        <mat-tab-nav-panel #tabPanel>
            <router-outlet></router-outlet>
        </mat-tab-nav-panel>
    </div>
</div>