<div class="popup-parent">
    <ng-template #popupContainer></ng-template>
</div>
<div class="app">
    <div class="main">
        <div class="sidebar">
            <app-inventory></app-inventory>
        </div>
        <mat-divider [vertical]="true"></mat-divider>
        <div class="content">
            <nav mat-tab-nav-bar [tabPanel]="tabPanel">
                <a mat-tab-link routerLink="actions">Actions</a>
                <a mat-tab-link routerLink="knowledge">Knowledge</a>
                <a mat-tab-link routerLink="spellbook" *ngIf="hasSpell">Spellbook</a>
                <a mat-tab-link routerLink="garden" *ngIf="hasGardenPlots">Garden</a>
                <a mat-tab-link routerLink="crafting" *ngIf="hasRecipe">Crafting</a>
                <a mat-tab-link routerLink="store" *ngIf="hasUnlockedShop">Store</a>
                <a mat-tab-link routerLink="influence" *ngIf="hasInfluence">Influence</a>
                <a mat-tab-link routerLink="unlocks" *ngIf="hasUnlocks">Unlocks</a>
            </nav>
            <mat-tab-nav-panel #tabPanel>
                <router-outlet></router-outlet>
            </mat-tab-nav-panel>
        </div>
        <div class="sidebar">
            <app-event-list></app-event-list>
        </div>
    </div>
    <footer>
        <mat-toolbar>
            <a href="credits">Credits</a>
            <a href="about">About</a>
            <a href="privacy-policy">Privacy Policy</a>
        </mat-toolbar>
    </footer>
</div>