<mat-card class="tooltip" [style.left]="left + 'px'" [style.top]="top + 'px'" [class.visible]="visible">
    <mat-card-header>
        <h2>{{location.name}}</h2>
    </mat-card-header>
    <mat-card-content *ngFor="let target of location.exploreActive?.rewards" >
      {{target.name}}
      <div class="explore-progress">
        <mat-card class="progress-bar">
            <div class="progress" [style.width.%]="target.progressRatio * 100"></div>
        </mat-card>
        <img class="progress-icon" src="assets/icons/check-mark.svg" *ngIf="target.done"/>
      </div>
    </mat-card-content>
  </mat-card>