button.spell {
    height: unset;
    padding-top: 5px;
    padding-bottom: 5px;
     .spell-content {
        display: flex;
        align-items: center;
        .description{
            .name {
                font-size:medium;
            }
        }
    }
}
app-spell-icon {
    margin-left: -10px;
    margin-right: 5px;;
}