.skill {
    margin-right: 10px;
    margin-bottom: 10px;
}

app-duration-action {
    display: inline-block;
}

.action-list {
    margin-bottom: 20px;
    display: flex;
    align-items: flex-start;
}