
<div class="knowledges">
    <mat-card *ngFor="let knowledge of getKnowledge()" class="knowledge progress-card stackable-card" >
        <div class="progress" [style.width.%]="knowledge.levelUpProgress*100"></div>
        <mat-card-header>
            {{knowledge.name}} lvl{{knowledge.level}}
        </mat-card-header>
        <mat-card-content>
            <mat-button-toggle checked="{{isStudyActive(knowledge)}}" (change)="toggleStudy(knowledge)">
            Study
            </mat-button-toggle>
            <mat-button-toggle checked="{{isTrainingActive(knowledge)}}" (change)="toggleTraining(knowledge)">
            Training
            </mat-button-toggle>
        </mat-card-content>
    </mat-card>
</div>