.knowledge {
    width: 200px;
    .progress {
        height: 100%;
        position: absolute;
        background-color: rgba(0, 0, 0, 0.2);
    }
    mat-card-header {
        z-index: 0;
    }
    mat-card-content mat-button-toggle {
        margin-right: 10px;
    }
}